*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(235, 243, 255);
}
.hidden{
    display: none !important;
}
/* ============================================================================ */
/* ============================================================================ */
/* ============================================================================ */


/* AUTH */

.auth-card{
    width: 500px;
    background-color: white;
    box-shadow: 0 0 35px -5px rgb(221, 221, 221);
    border-radius: 30px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.auth-card .logo{
    display: flex;
    align-items: center;
    gap: 8px;
    /* justify-content: center; */
    /* background-color: lightblue; */
    margin-top: 30px;
    margin-bottom: 50px;

}
.auth-card .input-grp{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 30px;
    width: 80%;

}
.auth-card .input-grp input{
    padding: 15px;
    border-radius: 12px;
    outline: none;
    border: 1px solid rgb(223, 223, 223);

}

















