*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #f0f4f8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ================================================================== */

.container{
    background-color: white;
    box-shadow: 0 0 10px rgba(119, 119, 119, 0.2);
    width: 70%;
    border-radius: 10px;
    padding: 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header{
    width: 100%;
    /* background-color: lightblue; */
    text-align: center;
    padding: 0 30px;
    border-bottom: 1px solid rgb(206, 206, 206);
}
.header h1{
    color: rgb(30, 81, 119);
    font-size: 45px;
    font-weight: 800;

}
.header p{
    font-size: 20px;
    color: rgb(133, 133, 133);
    margin: 10px 0;
}
/* ------------------------------------------------------------ */

.inner-cont{
    background-color: lightblue;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

.topics-demo-cont{
    /* background-color: lightcoral; */
    /* padding: 10px 20px; */
}

.topic-demo{
    background-color: white;
    box-shadow: 0 0 10px rgba(64, 64, 64, 0.3);
    border-radius: 15px;
    padding: 20px;

}
.topic-demo h2{
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(194, 194, 194);

}
.topic-demo p{
    color: rgb(114, 114, 114);
    margin-bottom: 10px;

}

.input-cont{
    /* background-color: lightcoral; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 15px;
}
.inner-cont input{
    outline: none;
    border: 1px solid rgb(161, 161, 161);
    border-radius: 10px;
    padding: 15px 12px;
}

.topic-demo-btn{
    

}
















































