*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(228, 246, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body.light-mode{
    background: rgb(228, 246, 255);
    color: #333;
}
body.dark-mode{
    background: #070D18;
    color: #e0e0e0;
}


/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */



.chat-container{
    width: 500px;
    height: 90vh; /* Make it tall on desktop */
    max-height: 700px;
    background-color: white;
    box-shadow: 0 10px 35px -5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    border-radius: 30px; /* Rounded corners */
    overflow: hidden;
    transition: all 0.3s ease;
}
body.dark-mode .chat-container{
    background-color: #1E293B;
    color: #e0e0e0;
}

.header{
    background: linear-gradient(150deg, rgb(2, 77, 176) 0%, rgb(0, 170, 255) 100%); 
    /* background: #fff; */
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.heading{
    width: 100%;
    height: 100%;
    color: white;
    text-align: start;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
}

.content-header{
    display: flex;
    gap: 10px   ;

}

.header-button{
    background-color: rgba(255, 255, 255,0.1);
    color: rgb(255, 255, 255);
    padding: 0px 12px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    transition: all 0.3s ease;
}
.header-button:hover{
    background-color: rgba(255, 255, 255,0.3);
    color: white;

}
.header-button:active{
    transform: scale(0.9);
}

.theme-toggle{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px;
    outline: none;
    border: none;
    border-radius: 20px;
    background-color: transparent;
    transition: all 0.3s ease;
    background-color: rgb(0, 170, 255);
}
.theme-toggle:hover{
    background-color: rgb(0, 170, 255);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}
.theme-toggle:active{
    transform: scale(0.7);
}

.icon{
    width: 20px;
    height: 20px;
    fill: none;
    stroke: white;
    stroke-width: 2;}
.iconHidden{
    display: none;
}


.help-box-container{
    /* padding: 10px 0; */
    /* background-color: rgba(142, 142, 142, 0.1); */
    /* border-bottom: 1px solid #d3d3d3; */
    width: 100%;
    height: 0;
    transition: all 0.5s ease;
    overflow-y: hidden;
}
.show{
    height: 200px;
}

.hidden{
    height: 0;
}


.help-box{
    background-color: rgba(0, 170, 255, 0.1);
    color: #333;
    padding: 10px;
    width: 90%;
    height: fit-content;
    font-size: 14px;
    border-left: 4px solid rgb(0, 170, 255);
    margin: 10px auto;
    border-radius: 5px;
}
.help-box-title{
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
    color: rgb(8, 104, 228);
}
.category-otem{
    margin-bottom: 2px;
}
.category-title{
    font-size: 12px;
    font-weight: 700;
    color: rgb(20, 119, 248);
}
.keywords{
    color: rgb(110, 110, 110);
    font-size: 11px;
    margin-left: 3px;
}





.chat-history{
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.time-cont{
    text-align: center;
    font-size: 10px;
    color: gray;
    margin: 10px 0;
}
.msg-cont{
    display: flex;
    align-items: end;
    gap: 10px;
    margin: 5px 0;
    /* background-color: #f3dbdb; */
}

.msg-bubble{
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    color: #1f1f1f;
    max-width: 80%;
    padding: 12px 15px;
    border-radius: 20px;
    border-bottom-left-radius: 0;
    font-size: 15px;
    position: relative;
    word-wrap: break-word;
    animation: fadeIn 0.3s ease;
}
.bot-cont{
    flex-direction: row;
}
.bot{
    background-color: #ffffff;
    color: #333;
    width: fit-content;
    border-radius: 20px;
    border-bottom-left-radius: 5px;
    margin-right: auto;
}
body.dark-mode .bot{
    background-color: #334155;
    color: #e0e0e0;
}
.user-cont{
    flex-direction: row-reverse;
}
.user{
    background: linear-gradient(350deg, rgb(7, 101, 224) 0%, rgb(0, 170, 255) 100%); 
    color: white;
    width: fit-content;
    border-radius: 20px;
    border-bottom-right-radius: 5px;
    margin-left: auto;
}

@keyframes fadeIn{
    from {opacity: 0; transform: translateY(10px);}
    to {opacity: 1; transform: translateY(0);}
}



.typing-cont{
    display: none;
}

.typing-cont-show{
    display: flex;
    gap: 10px;
}
.bot-bubble{
    display: flex;
    align-items: center;
    gap: 8px;
    width: fit-content;
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    color: #1f1f1f;
    padding: 12px 15px;
    border-radius: 20px;
    border-bottom-left-radius: 0;
    font-size: 15px;
    position: relative;
    word-wrap: break-word;
    animation: fadeIn 0.3s ease;
}

.typing-dot {
    display: inline-block;
    height: 5px;
    width: 5px;
    background-color: #67affc;
    border-radius: 50%;
    margin: 0 2px;
    opacity: 0.9;
    animation: typing 0.6s infinite alternate;
}

.typing-dot:nth-child(3) {
    animation-delay: 0.2s;
}

.typing-dot:nth-child(4) {
    animation-delay: 0.4s;
}

@keyframes typing {
    from {
        transform: scale(0.9);
        opacity: 0.3;
    }
    to {
        transform: scale(1.5);
        opacity: 1;
    }
}



.text-sender{
    display: flex;
    padding: 15px;
    border-top: 1px solid #ddd;
}
.text-sender input{
    flex: 1;
    padding: 10px 12px;
    border: 1px solid #bdbdbd;
    border-radius: 20px;
    outline: none;
    font-size: 14px;
    box-shadow: 0 2px 3px rgba(89, 89, 89, 0.1) inset;
    transition: all 0.3s ease;
}
body.dark-mode .text-sender input{
    background-color: #334155;
    color: #e0e0e0;
    border: 1px solid #555;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2) inset;
}
.text-sender input::placeholder{
    color: #bdbdbd;
}
.text-sender input:focus{
    border-color: rgb(0, 170, 255);
    box-shadow: 0 0 1px 1px rgb(7, 101, 224);
    transition: all 0.3s ease;
}

.send-btn{
    background: linear-gradient(-100deg, rgb(28, 119, 239) 0%, rgb(0, 170, 255) 100%); 
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.send-btn:active{
    transform: scale(0.95);
}













