*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(246, 254, 231);
    padding: 20px;
}
/* -------------------------------------------------------------- */

.container{
    max-width: 100%;
    margin: auto;
    /* background-color: lightblue; */
    padding: 20px;
    border-radius: 8px;
}
.container h2{
    font-size: 40px;
    font-weight: 800;
    color: rgb(9, 159, 46);
    text-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-bottom: 20px;
}


.inner-container{
    /* background-color: rgb(206, 173, 230); */
    padding: 20px;
    border-radius: 8px;

    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    gap: 20px;
}


.data-collect-cont{
    max-width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
    border-left: 5px solid rgb(5, 151, 106);
    padding: 20px;
    border-radius: 15px;
}
.data-collect-cont h3{
    font-size: 25px;
    color: rgb(0, 0, 0);
    text-align: left;
    margin-bottom: 20px;
}
.alert-msg{
    background-color: rgba(255, 0, 0, 0.13);
    color: rgb(200, 0, 0);
    font-size: 16px;
    text-transform: capitalize;
    text-align: left;
    border-left: 4px solid rgb(200, 0, 0);
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 10px;
}



.data-collection-form h2{
    font-size: 18px;
    font-weight: 500;
    color: rgb(62, 62, 62);
    text-align: left;
    margin: 15px 0;
}

.data-collection-form label{
    font-size: 15px;
    color: rgb(0, 0, 0);
    margin-bottom: 8px;
    display: block;
}
.data-collection-form input{
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.marks-cont{
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 1fr));
    gap: 10px;
    /* margin-top: 15px; */
    margin-bottom: 15px;
}
.marks-cont div{
    display: flex;
    flex-direction: column;
}


.add-btn{
    width: 100%;
    padding: 15px 10px;
    background-color: rgb(5, 151, 106);
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s ease;
}
.add-btn:hover{
    background-color: rgb(3, 115, 81);
}
.add-btn:active{
    transform: scale(0.95);
}

/* ------------------------------------------------------------------ */



.display-students-data{
    width: 100%;
    max-height: 510px;
    height: fit-content;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;

    overflow-y: scroll;
}

.display-students-data h3{
    font-size: 25px;
    color: rgb(0, 0, 0);
    text-align: left;
    margin-bottom: 20px;
}



table{
    width: 100%;
    border-collapse: collapse;
}
table thead{
    background-color: #05976b4d;
}
th{
    color: rgb(98, 98, 98);
    font-weight: 500;
}
table th, table td{
    padding: 10px;
    text-align: center;
}

table td{
    border: 1px solid #ddd;
}

table td button{
    background-color: rgb(5, 151, 106);
    color: white;
    padding: 6px 15px;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    transition: 0.3s ease;
}
table td button:active{
    transform: scale(0.95);
}









