* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #0d1117;
    color: #c9d1d9;
    padding: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hidden{
    display: none !important;
}
/* =============================== */
/* =============================== */
/* =============================== */

.container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.header {
    /* background-color: lightcoral; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.header h2 {
    font-size: 40px;
    margin-bottom: 20px;
}
.header h2 span{
    color: rgb(35, 153, 64);
}

.search-cont {
    background: #1b2636;
    width: 100%;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: 0.3s ease;
}

.search-field {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.search-field svg {
    height: 25px;
    width: 25px;
    position: absolute;
    left: 10px;
}

.search-field input {
    width: 100%;
    background-color: transparent;
    padding: 12px 20px;
    padding-left: 50px;
    outline: none;
    border: none;
    border-radius: 12px;
    font-size: 17px;
    color: #c9d1d9;
}

.search-cont:focus-within {
    border-color: rgb(35, 153, 64);
}

.search-cont:focus-within svg {
    color: rgb(35, 153, 64);
}

.search-cont:focus-within button {
    background-color: rgb(35, 153, 64);
}


.search-cont button {
    padding: 15px 20px;
    outline: none;
    border: none;
    border-radius: 12px;
    background-color: rgb(35, 153, 64);
    background-color: transparent;
    color: #c9d1d9;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}

.search-cont button:hover {
    background-color: rgb(33, 134, 59);
}
.search-cont button:active{
    transform: scale(0.9);
}


.error-msg{
    color: rgb(209, 62, 62);
    font-size: 16px;
    margin-top: 10px;
}

/* --------------------------------------- */
/* --------------------------------------- */
/* --------------------------------------- */
/* --------------------------------------- */

.main{
    /* background-color: rgb(18, 103, 131); */
    display: flex;
    gap: 20px;
    margin-top: 30px;
}
.glass-card{
    background-color: #1c222b;
    border: 2px solid #283548;
}


.side-section{
    /* background-color: rgb(148, 107, 57); */
    width: 25%;
    height: fit-content;
    padding: 20px;
    border-radius: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.side-section .profile-img{
    height: 170px;
    width: 170px;
    border-radius: 30%;
    border: 5px solid #1b2636;
}
.side-section .name{
    margin-top: 10px;
    text-transform: capitalize;
    color: white;
    font-size: 27px;
}
.side-section .login{
    color: #8a8a8a;
}
.side-section .bio{
    margin-top: 15px;
    color: #cacaca;
    font-size: 15px;
}



.side-section .inner-section{
    display: flex;
    gap: 10px;
    /* background-color: lightblue; */
    
    width: 100%;
}
.counts-area{
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 20px;

    padding: 15px 0px;
    border-top: 1px solid #8a8a8a;
    border-bottom: 1px solid #8a8a8a;
}
.counts-area .count{
    font-size: 18px;
    color: white;
    font-weight: 700;
}
.counts-area .heading{
    font-size: 15px;
    text-transform: uppercase;
}

.links-area{
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 30px;
}
.links-area #blog{
    color: rgb(35, 153, 64);
    cursor: pointer;
    text-decoration: none;
}


.side-section .profile-link{
    margin-top: 30px;
    text-decoration: none;
    background-color: rgb(40, 46, 56);
    color: #8a8a8a;
    padding: 20px;
    width: 100%;
    text-align: center;
    font-size: 16px;
    border-radius: 15px;
    transition: 0.3s ease;
}
.side-section .profile-link:hover{
    background-color: rgb(52, 60, 73);
    color: white;
}
.side-section .profile-link:active{
    transform: scale(0.9);
}

/* ----------------------------------------------- */



/* ----------------------------------------------- */

.main-section{
    /* background-color: rgb(24, 155, 85); */
    width: 65%; 

}
.repos-cont{
    padding: 20px;
    border-radius: 25px;
    margin-bottom: 20px;
}
.top-repo-heading{
    font-size: 22px;
    margin-bottom: 20px;
}

.repos-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.repo-card{
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    
    background-color: #0d1117;
    border: 2px solid #283548;
    border-radius: 20px;
    padding: 20px;
    cursor: pointer;
    transition: 0.3s ease;
}
.repo-card:hover{
    border-color: rgb(71, 99, 142);

}
.repo-card:active{
    transform: scale(0.95);
}


.repo-card .repo-name{
    font-weight: 900;
    font-size: 18px;
    color: rgb(70, 176, 96);
    margin-bottom: 5px;
}
.repo-card .repo-desc{
    font-size: 14px;
    color: #7c899c;
}
.repo-card .repo-info{
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}







.stats-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    border-radius: 25px;
}

.stats-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px 10px;
    border-radius: 25px;
    font-size: 20px;
    transition: 0.3s ease;
}
.stats-card:hover{
    transform: translateY(-10px);
    border-color: rgb(71, 99, 142);
}

.stats-card .stats-no{
    font-size: 18px;
    font-weight: 800;
    color: white;
}
.stats-card .stats-name{
    font-size: 15px;
}



