*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f7f9fb;
    padding: 20px 0;

    display: flex;
    justify-content: center;
    align-items: center;
}
/* =========================================================================== */

.container{
    width: 100%;
    max-width: 1200px;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.header{
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    padding: 20px 0;
    margin-bottom: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.header h1{
    font-size: 45px;
    color: rgb(40, 40, 40);
}
.header p{
    font-size: 20px;
    margin: 10px 0;
    color: rgb(120, 120, 120);
}




.admin-tool-cont{
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    padding: 30px 20px;
    /* margin-bottom: 30px; */
    border-radius: 20px;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
}
.admin-tool-cont h2{
    font-size: 25px;
    color: rgb(40, 40, 40);
}
/* =========================================================== */



.menu-container{
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}
/* =========================================================== */
.category-header{
    background-color: rgb(33, 33, 33);
    padding: 12px 20px;
    margin: 10px 0;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.category-header h2{
    color: white;
    font-size: 25px;
}
.items-length{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-style: italic;
}


.category-content{
    margin: 10px 0 40px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 20px;
}
.item-cards-cont{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
    place-items: center;
    width: 100%;
}

.item-card{
    background-color: white;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    padding: 16px;
    width: 100%;
    max-width: 320px;
    height: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    transition: 0.3s ease;
}
.item-card:hover{
    transform: translateY(-5px);
}

.item-card-details{
    /* background-color: rgb(232, 216, 216); */
}
.item-heading{
    font-size: 16px;
    color: rgb(60, 60, 60);
    margin-bottom: 10px;
    display: flex;
    align-items: flex-end;

}
.isSpicy{
    font-size: 18px;
}

.item-availability{
    background-color: rgba(0, 0, 0, 0.3);
    color: rgba(0, 0, 0, 0.7);
    width: fit-content;
    padding: 2px 7px;
    font-size: 12px;
    font-weight: 700;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50px;
    cursor: pointer;
    margin-bottom: 10px;
}
.item-isAvailable{
    background-color: rgba(122, 251, 133, 0.3);
    color: rgba(16, 109, 24, 0.7);
    border: 1px solid rgb(34, 134, 7);
}
.item-isSoldOut{
    background-color: rgba(251, 122, 122, 0.3);
    color: rgb(157, 18, 18, 0.7);
    border: 1px solid rgb(207, 30, 30);
}

.item-ingredients{
    color: rgb(142, 142, 142);
    font-size: 14px;
    font-weight: 600;
}


.item-card-values{
    /* background-color: rgb(204, 233, 230); */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 10px;
}
.item-price{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 5px;
    color: rgb(40, 58, 195);
}
.item-prepTime{
    color: rgb(83, 83, 83);
    font-size: 12px;
}

.rating-cont{
    font-size: 15px;
}
.item-rating{
    color: #f6ad55;
}
.item-rating-grey{
    color: rgb(185, 185, 185);
}
.rating-text{
    font-size: 13px;
    color: black;
    margin-left: 5px;
}







.admin-btns-cont{
    width: 100%;
    /* background-color: rgb(255, 255, 255); */
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}
.admin-btns-cont button{
    width: 100%;
    padding: 15px 12px;
    border: none;
    border-radius: 10px;
    /* background-color: #2d89ef; */
    color: #fff;
    font-size: 16px;
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}
.admin-btns-cont button:hover{
    transform: scale(1.015);
}
.admin-btns-cont button:active{
    transform: scale(0.95);
}

.add-new-items-btn{
    background-color: rgb(25, 114, 216);
}
.add-new-category-btn{
    background-color: rgb(216, 25, 159);
}
/* =========================================================== */






