*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f7f9fc;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.demo-btn{
    outline: none;
    border: none;
    border-radius: 10px; 
    font-weight: 800;
    padding: 15px 50px; 
    margin-top: 40px;
    background-color: #f59e0b; 
    box-shadow: 0 20px 25px -5px rgba(245, 158, 11, 0.5), 0 8px 10px -6px rgba(245, 158, 11, 0.5); 
    color: #2e3c4f; 
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.demo-btn:hover {
    transform: scale(1.03);
    background-color: #fbbf24;
}
.demo-btn.btn-depth:active {
    transform: translateY(2px) scale(0.98);
}
/* ================================================================== */

.container{
    background-color: white;
    box-shadow: 0 0 10px rgba(119, 119, 119, 0.2);
    width: 70%;
    border-radius: 10px;
    padding: 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header{
    width: 100%;
    /* background-color: lightblue; */
    text-align: center;
    padding: 0 30px;
    border-bottom: 1px solid rgb(206, 206, 206);
}
.header h1{
    color: rgb(52, 81, 207);
    font-size: 45px;
    font-weight: 800;

}
.header p{
    font-size: 20px;
    color: rgb(103, 103, 103);
    margin: 10px 0;
}


.descp{
    width: 700px;
    text-align: center;
    color: rgb(58, 58, 58);
    font-size: 18px;
    margin-top: 40px;
}






.inner-cont{
    /* background-color: lightblue; */
    width: 100%;
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(206, 206, 206);
}

.table-header{
    /* background-color: lightcoral; */
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(206, 206, 206);
    color: rgb(46, 149, 232);
}
.table-header div:nth-child(1){
    flex: 1;
    font-size: 18px;
    font-weight: 700;
}
.table-header div:nth-child(2){
    flex: 1;
    font-size: 18px;
    font-weight: 700;
}
.table-header div:nth-child(3){
    flex: 2;
    font-size: 18px;
    font-weight: 700;
}

.topics-cont{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 25px;
    grid-auto-rows: 1fr; 
}

.topic{
    display: flex;
    justify-content: center;
    align-items: top;
    
    padding: 15px 12px;
    border-left: 4px solid;
    border-radius: 10px;
    transition: 0.3s ease;
}

.topicMethod{
    flex: 1;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}
.topicPurpose{
    flex: 1;
    color: rgb(87, 87, 87);
    font-size: 17px;
    font-weight: 600;
}
.topicWork{
    flex: 2;
    color: rgb(97, 97, 97);
    font-size: 17px;
}



.topic1{
    background-color: rgba(255, 187, 59, 0.1);
    border-color: rgb(229, 150, 5);
}
.topic1:hover{
    background-color: rgba(255, 187, 59, 0.3);
}
.topicMethod1{
    color: rgb(187, 123, 4);
}
.topic2{
    background-color: rgba(121, 59, 255, 0.1);
    border-color: rgb(106, 5, 229);
}
.topic2:hover{
    background-color: rgba(121, 59, 255, 0.3);
}
.topicMethod2{
    color: rgb(106, 5, 229);
}
.topic3{
    background-color: rgba(59, 255, 216, 0.1);
    border-color: rgb(4, 185, 167);
}
.topic3:hover{
    background-color: rgba(59, 255, 216, 0.3);
}
.topicMethod3{
    color: rgb(4, 185, 167);
}
.topic4{
    background-color: rgba(255, 59, 59, 0.1);
    border-color: rgb(187, 4, 4);
}
.topic4:hover{
    background-color: rgba(255, 59, 59, 0.3);
}
.topicMethod4{
    color: rgb(187, 4, 4);
}
.topic5{
    background-color: rgba(79, 255, 59, 0.1);
    border-color: rgb(47, 187, 4);
}
.topic5:hover{
    background-color: rgba(79, 255, 59, 0.3);
}
.topicMethod5{
    color: rgb(47, 187, 4);
}






