*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(38, 64, 99);
    /* background-color: rgb(22, 42, 74); */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hidden{
    display: none !important;
}



/* Floating Switcher Button */
.version-switcher {
    text-decoration: none;

    position: fixed;
    top: 30px;
    right: 30px;
    width: 56px;
    height: 56px;
    background: #ebebeb;
    border-radius: 28px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    overflow: hidden;
    white-space: nowrap;
    z-index: 100;
    color: #f57c00;
    text-shadow: 0 0 25px rgba(245, 123, 0, 0.8);

    animation: glowing 1s infinite alternate;
}
@keyframes glowing {
    0%{
        box-shadow: 0 0 25px -5px rgba(255, 255, 255, 0.4);
    }
    100%{
        box-shadow: 0 0 35px -5px rgba(255, 255, 255, 0.9);
    }
}

.version-switcher:hover {
    width: 230px;
    border-radius: 16px;
}

.version-switcher .arrow-icon {
    min-width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.4s;
    flex-shrink: 0;
}

.version-switcher:hover .arrow-icon {
    transform: rotate(180deg);
}

.version-switcher .switch-label {
    opacity: 0;
    font-size: 14px;
    font-weight: 800;
    margin-right: 20px;
    transition: opacity 0.3s;
}

.version-switcher:hover .switch-label {
    opacity: 1;
}

/* =========================================== */

.container{
    padding: 30px;
    background-color: rgba(255, 255, 255);
    box-shadow: 0 0 30px -5px rgba(120, 120, 120, 0.3);
    border-radius: 20px;
    min-width: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container h2{
    margin-bottom: 20px;

}
.container .status{
    font-size: 15px;
    font-style: italic;
}
.status.red{
    color: rgb(219, 66, 66);
}
.status.green{
    color: rgb(43, 183, 66);
}


.input-cont{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    gap: 8px;
}
.input-cont input{
    width: 100%;
    outline: none;
    border: 2px solid rgb(203, 211, 218);
    padding: 10px;
    border-radius: 8px;
    transition: 0.3s ease;
}
.input-cont input:focus{
    border-color: rgb(49, 137, 213);
}

.input-cont button{
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 8px;
    background-color: rgb(49, 137, 213);
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}
.input-cont button:active{
    transform: scale(0.9);
}


.container ul{
    /* background-color: rgb(109, 143, 198); */
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    max-height: 300px;
}
.container ul li{
    background-color: rgb(46, 91, 162);
    border-radius: 8px;
    padding: 7px 10px;
    font-size: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.li-btns-cont button{
    outline: none;
    border: none;
    padding: 5px 10px;
    border-radius: 8px;
    background-color: rgb(49, 137, 213);
    color: white;
    font-size: 12px;
    cursor: pointer;
    transition: 0.3s ease;
}
.li-btns-cont button:active{
    transform: scale(0.9);
}










/* ============================================ */

.modal-cont{
    z-index: 999;
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.499);

}
.modal-content{
    background-color: white;
    width: 400px;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;

}
.modal-content h2{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
    color: rgb(46, 91, 162);
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    /* border-radius: 15px; */
}
.modal-content input{
    width: 100%;
    margin-bottom: 10px;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    outline: none;
}

.modal-content span{
    /* background-color: lightblue; */
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
    /* margin-bottom: 20px; */
}
.modal-content button{
    outline: none;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    background-color: rgb(49, 137, 213);
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease;
}
.modal-content button:hover{
    box-shadow: 0 10px 10px -5px rgb(162, 162, 162);
}
.modal-content button:active{
    transform: scale(0.9);
}



























