*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #1e293b 0%, #334155 100%);
    /* background-color: rgb(22, 42, 74); */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hidden{
    display: none !important;
}



/* Floating Switcher Button */
.version-switcher {
    text-decoration: none;

    position: fixed;
    top: 30px;
    right: 30px;
    width: 56px;
    height: 56px;
    background: #ebebeb;
    border-radius: 28px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    overflow: hidden;
    white-space: nowrap;
    z-index: 100;
    color: #f57c00;
    text-shadow: 0 0 25px rgba(245, 123, 0, 0.8);

    animation: glowing 1s infinite alternate;
}
@keyframes glowing {
    0%{
        box-shadow: 0 0 25px -5px rgba(255, 255, 255, 0.4);
    }
    100%{
        box-shadow: 0 0 35px -5px rgba(255, 255, 255, 0.9);
    }
}

.version-switcher:hover {
    width: 230px;
    border-radius: 16px;
}

.version-switcher .arrow-icon {
    min-width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.4s;
    flex-shrink: 0;
}

.version-switcher:hover .arrow-icon {
    transform: rotate(180deg);
}

.version-switcher .switch-label {
    opacity: 0;
    font-size: 14px;
    font-weight: 800;
    margin-right: 20px;
    transition: opacity 0.3s;
}

.version-switcher:hover .switch-label {
    opacity: 1;
}

/* =========================================== */

.container{
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(10px);
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
    border-radius: 24px;
    min-width: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container h2{
    margin-bottom: 20px;
    color: #0f172a;
    font-weight: 800;
    letter-spacing: -0.5px;
    display: flex;
    align-items: left;
    gap: 10px;
}
.container .status{
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 10px;
    height: 20px;
}
.status.red{
    color: rgb(219, 66, 66);
}
.status.green{
    color: rgb(27, 163, 49);
}


.input-cont{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    gap: 8px;
}
.input-cont input{
    width: 100%;
    font-size: 15px;
    outline: none;
    border: 2px solid #e2e8f0;
    padding: 10px 16px;
    border-radius: 12px;
    transition: 0.3s ease;
}
.input-cont input:focus{
    border-color: rgb(49, 137, 213);
    box-shadow: 0 0 0 4px rgba(49, 137, 213, 0.1);
}

.input-cont button{
    padding: 0px 20px;
    border: none;
    outline: none;
    border-radius: 8px;
    background-color: rgb(49, 137, 213);
    font-weight: 700;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}
.input-cont button:active{
    transform: scale(0.9);
}
.input-cont button:hover {
    background-color: #2563eb;
}



/* Empty State */
.empty-state {
    padding: 30px;
    text-align: center;
    color: #94a3b8;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}



.container ul{
    /* background-color: rgb(109, 143, 198); */
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
    overflow-y: auto;
    max-height: 320px;
    padding: 5px;
}

.container ul li {
    background: white;
    border: 1px solid #f1f5f9;
    border-radius: 14px;
    padding: 12px 16px;
    font-size: 15px;
    color: #1e293b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.container ul li:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    border-color: #d1d5db;
}
.container ul li.done span {
    text-decoration: line-through;
    opacity: 0.5;
}


.task-info{
    display: flex;
    flex-direction: column;

}
.created-time{
    font-size: 10px;
    font-weight: 700;
    color: rgb(95, 124, 163);
    margin-top: 5px;
}



/* Buttons Container */
.li-btns-cont {
    display: flex;
    gap: 8px;
}

.li-btns-cont button {
    outline: none;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 1000px;
    background-color: #f1f5f9;
    color: #64748b;
    cursor: pointer;
    transition: 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}
.li-btns-cont button:hover{
    transform: scale(1.12);
}
.li-btns-cont button:active{
    transform: scale(0.8);
}

.li-btns-cont button svg{
    width: 17px;
    height: 17px;
}

.li-btns-cont .check-btn:hover {
    background-color: #dcfce7;
    color: #16a34a;
}

.li-btns-cont .edit-btn:hover {
    background-color: #dbeafe;
    color: #2563eb;
}

.li-btns-cont .delete-btn:hover {
    background-color: #fee2e2;
    color: #ef4444;
}




/* Delete All Button */
.delete-all-btn {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    border: none;
    border: 1px solid #f796ab;
    border-radius: 12px;
    background-color: #ffdddf;
    color: #e11d48;
    cursor: pointer;
    font-weight: 700;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    text-align: center;
}
.delete-all-btn:active{
    transform: scale(0.9);
}
.delete-all-btn:hover {
    background-color: #e11d48;
    color: white;
}


.delete-all-btn svg{
    width: 17px;
    height: 17px;
}


/* ============================================ */



/* Modal */
.modal-cont {
    z-index: 999;
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(4px);
}

.modal-content {
    background-color: white;
    width: 400px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 24px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
}

.modal-content h2 {
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    color: #0f172a;
    font-weight: 800;
}

.modal-content input {
    width: 100%;
    margin-bottom: 20px;
    padding: 14px;
    border-radius: 12px;
    border: 2px solid #f1f5f9;
    outline: none;
    font-size: 16px;
}

.modal-content input:focus {
    border-color: rgb(49, 137, 213);
}

.modal-content span {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}

.modal-content button {
    outline: none;
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
    background-color: rgb(49, 137, 213);
    color: white;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s ease;
}

.modal-content button#cancel-modal {
    background-color: #f1f5f9;
    color: #64748b;
}


.modal-content button:active{
    transform: scale(0.8);
}
























