* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding: 50px;
    color: #1e293b;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f8fafc;

}

.hidden {
    display: none !important;
}

/* ===================================================================== */
/* ===================================================================== */
.app-wrapper {
    position: relative;
    width: 100%;
    max-width: 450px;
}


.status-peek {
    position: absolute;
    top: 20px;
    right: 0;
    width: 160px;
    height: 50px;
    background: #3b82f6;
    color: white;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
    font-size: 12px;
    font-weight: 700;
    z-index: 1;

    transition: transform 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
    transform: translateX(-15px);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.status-peek.active {
    transform: translateX(110%);
}

.status-peek.del {
    background: #ef4444;
}

.status-peek.edit {
    background: #f59e0b;
}

.status-peek.add {
    background: #10b981;
}

.status-peek.bought-st {
    background: #6366f1;
}


.app-cont {
    background-color: white;
    box-shadow: 0 0 20px -5px rgb(210, 210, 210);
    padding: 30px;
    border-radius: 20px;
    z-index: 10;
    position: relative;

}

.header {
    /* background-color: lightblue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h2 {
    font-weight: 800;
}

.header svg {
    color: #3b82f6;
}


.input-grp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-top: 25px;
    background-color: #eef4fc;
    padding: 12px;
    border-radius: 12px;
    border: 1px solid #dde5f1;
}

.input-grp input,
select,
button {
    padding: 12px 10px;
    outline: none;
    border: 1px solid rgb(208, 208, 208);
    border-radius: 12px;
    transition: 0.3s ease;
}

.input-grp input:focus {
    color: #0a54ca;
    border-color: #3b82f6;
}

.add-btn {
    background-color: #3b82f6;
    color: white;
    margin-top: 10px;
    font-size: 13px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s ease;
}

.add-btn:active {
    transform: scale(0.9);
}

/* ------------------------------------ */


.filters {
    display: flex;
    gap: 10px;
    margin-top: 20px;

}

.filter-tab {
    background-color: #eef4fc;
    box-shadow: 0 5px 15px -5px #adbed5;
    padding: 6px 10px;
    border-radius: 9999px;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    color: #2b3b55;
    cursor: pointer;
    transition: 0.3s ease;
}

.filter-tab:hover {
    background-color: #dbe3ef;
    transform: scale(1.07);
}

.filter-tab:active {
    transform: scale(0.9);
}

.filter-tab.active {
    background-color: #2b3b55;
    color: #eef4fc;
}

/* ------------------------------------ */


.list-container {
    /* background-color: #3b82f6; */
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.item-row {
    /* background-color: #9d9d9d; */
    box-shadow: 0 0 20px -5px rgb(223, 223, 223);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px;
    border-radius: 12px;
    border-bottom: 4px solid rgb(235, 235, 235);
    cursor: pointer;
    transition: 0.8s ease;
}

.item-row:hover {
    border-color: #3b82f6;
}

.item-row.bought {
    opacity: 0.5;
    background: #f8fafc;
    border-style: dashed;
    transform: scale(0.9);
}
.item-row.bought .item-name {
    text-decoration: line-through;
    color: #94a3b8;
}




.item-info {
    display: flex;
    flex-direction: column;
}

.item-info .item-name {
    font-size: 15px;
    font-weight: 600;
}

.item-info .item-meta {
    font-size: 12px;
    color: #667ea4;
}


.actions {
    display: flex;
    gap: 10px;
}

.action-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    padding: 0;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 0.5s ease;
}

.action-btn:hover {
    box-shadow: 0px 5px 15px -2px rgba(176, 176, 176, 0.5);
}

.action-btn:active {
    transform: scale(0.6);
}

.actions button svg {
    width: 18px;
    height: 18px;
}

.btn-edit {
    color: rgb(35, 127, 207);
    background-color: rgb(210, 227, 255);
}

.btn-del {
    color: rgb(224, 48, 77);
    background-color: rgb(255, 215, 215);
}




/* Edit Modal */
.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(15, 23, 42, 0.5);
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.modal {
    background: white;
    padding: 24px;
    border-radius: 20px;
    width: 90%;
    max-width: 350px;
}