*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding: 50px;
    color: #1e293b;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f8fafc;

}
/* ===================================================================== */
/* ===================================================================== */

.app-cont{
    width: 450px;
    background-color: white;
    box-shadow: 0 0 20px -5px rgb(210, 210, 210);
    padding: 30px;
    border-radius: 20px;
    

}
.header{
    /* background-color: lightblue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header h2{
    font-weight: 800;
}
.header svg{
    color: #3b82f6;
}


.input-grp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-top: 25px;
    background-color: #eef4fc;
    padding: 12px;
    border-radius: 12px;
    border: 1px solid #dde5f1;
}

.input-grp input,select,button{
    padding: 12px 10px;
    outline: none;
    border: 1px solid rgb(208, 208, 208);
    border-radius: 12px;
    transition: 0.3s ease;
}
.input-grp input:focus{
    color: #0a54ca;
    border-color: #3b82f6;
}
.add-btn{
    background-color: #3b82f6;
    color: white;
    margin-top: 10px;
    font-size: 13px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s ease;
}
.add-btn:active{
    transform: scale(0.95);
}
/* ------------------------------------ */


.filters{
    display: flex;
    gap: 10px;
    margin-top: 20px;

}
.filter-tab{
    background-color: #eef4fc;
    box-shadow: 0 5px 15px -5px #adbed5;
    padding: 6px 10px;
    border-radius: 9999px;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    color: #2b3b55;
    cursor: pointer;
    transition: 0.3s ease;
}
.filter-tab:hover{
    background-color: #dbe3ef;
    transform: scale(1.07);
}
.filter-tab:active{
    transform: scale(0.9);
}
.filter-tab.active{
    background-color: #2b3b55;
    color: #eef4fc;
}
/* ------------------------------------ */


.list-container{
    /* background-color: #3b82f6; */
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.item-row{
    /* background-color: #9d9d9d; */
    box-shadow: 0 0 20px -5px rgb(223, 223, 223);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px;
    border-radius: 12px;
}

.item-info{
    display: flex;
    flex-direction: column;
}
.item-info .item-meta{
    font-size: 12px;
}

.action-btn{
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}
.action-btn:active{
    transform: scale(0.8);
}
.actions button svg{
    width: 22px;
    height: 22px;

}

.btn-check{
    color: rgb(16, 172, 34);
    background-color: rgb(223, 255, 219);
}
.btn-del{
    color: rgb(224, 48, 77);
    background-color: rgb(255, 219, 219);
}