*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(196, 215, 243);
}
.status{
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 0px;
    margin: 0;
    border: 1px solid rgb(107, 114, 247);
    background-color: rgba(168, 173, 255, 0.3);
    color: rgb(144, 94, 253);
    border-radius: 12px;
    padding: 10px;
    text-align: center;
    text-transform: capitalize;
}
.status.false{
    border-color: rgb(227, 83, 61);
    background-color: rgba(255, 192, 184, 0.3);
    color: rgb(195, 51, 32);
}
.status.true{
    border-color: rgb(27, 152, 50);
    background-color: rgba(195, 254, 195, 0.3);
    color: rgb(11, 118, 11);
}

.hidden{
    display: none !important;
}
/* ================================================================ */

.container{
    background-color: white;
    border-radius: 12px;
    padding: 30px;
    width: 450px;
}
.form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-container h2{
    font-size: 25px;
    margin-bottom: 20px;
}

.form-container div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 15px;
    /* background-color: rgb(209, 202, 202); */
}

.form-container input{
    width: 100%;
    padding: 12px 10px;
    outline: none;
    border: 1px solid rgb(66, 122, 178);
    border-radius: 8px;
}


.btns-cont{
    flex-direction: row !important;
}
.btns-cont button{
    padding: 10px 14px;
    border: none;
    outline: none;
    background-color: rgb(187, 218, 248);
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
}
.btns-cont button:active{
    transform: scale(0.9);
}













