*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(235, 242, 252);
}
.status{
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 0px;
    margin-top: 20px;
    border: 1px solid rgb(107, 114, 247);
    background-color: rgba(168, 173, 255, 0.3);
    color: rgb(144, 94, 253);
    border-radius: 12px;
    padding: 15px;
    text-align: center;
    text-transform: capitalize;
}
.status.error{
    border-color: rgb(227, 83, 61);
    background-color: rgba(255, 192, 184, 0.3);
    color: rgb(195, 51, 32);
}
.status.success{
    border-color: rgb(27, 152, 50);
    background-color: rgba(195, 254, 195, 0.3);
    color: rgb(11, 118, 11);
}

.hidden{
    display: none !important;
}
/* ================================================================ */

.container{
    background-color: white;
    box-shadow: 0 0 50px -5px rgba(181, 181, 181, 0.5);
    border-radius: 25px;
    padding: 30px;
    width: 450px;
}
.header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.svg-cont{
    background-color: rgba(206, 188, 255, 0.3);
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 20px;
}
.svg-cont svg{
    color: rgb(158, 71, 252);
    width: 30px;
    height: 30px;
}
.header h2{
    font-size: 25px;
    font-weight: 800;
}

/* --------------------------------------- */


.form-container {
    width: 100%;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.form-container .inner-cont p{
    font-size: 15px;
    font-weight: 700;
    color: rgb(142, 157, 175);
    text-align: left;
    /* margin-bottom: 10px; */
}

.form-container .inner-cont{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    gap: 8px;
    margin-top: 15px;
    margin-bottom: 15px;
    /* background-color: rgb(209, 202, 202); */
}

.form-container input{
    width: 100%;
    padding: 12px 10px;
    outline: none;
    border: 1px solid rgb(181, 195, 208);
    border-radius: 8px;
}


.btns-cont{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
}
.btns-cont button{
    padding: 15px 14px;
    font-size: 15px;
    font-weight: 700;
    outline: none;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s ease;
}
.btns-cont button:active{
    transform: scale(0.9);
}

.signup{
    background-color: rgb(255, 255, 255);
    color: rgb(69, 66, 66);
}
.signup:hover{
    background-color: rgb(241, 241, 241);
}
.login{
    color: white;
    background: linear-gradient(135deg, #4f46e5 0%, #7c3aed 100%);
    box-shadow: 0 5px 15px rgb(212, 212, 212);
}
.login:hover{
    opacity: 0.85;
}



.phone-detail-cont{
    display: flex;
    gap: 10px;
}
.send-btn{
    padding: 15px 14px;
    font-size: 15px;
    font-weight: 700;
    outline: none;
    border: 1px solid #9c97f9;
    background-color: rgba(152, 146, 253, 0.2);
    color: #4f46e5;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s ease;
}
.send-btn:active{
    transform: scale(0.9);
}

.otp-cont input{
    text-align: center;
    font-size: 20px;
    letter-spacing: 10px;
}
.otp-cont button{
    width: 100%;
    margin-top: 10px;
    border: 1px solid #9c97f9;
    background-color: rgba(152, 146, 253, 0.2);
    color: #4f46e5;
}

/* --------------------------------------- */

.welcome-cont{
    /* background-color: rgb(130, 194, 246); */
    /* height: 200px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 25px;
}

.check-cont{
    background-color: rgba(25, 228, 25, 0.1);
    box-shadow: 0 5px 10px rgba(207, 207, 207, 0.5) inset;
    display: inline-block;
    padding: 20px 30px;
    border-radius: 25px;
    position: relative;
}

.check-cont .check{
    font-size: 40px;
    color: rgb(36, 219, 36);
}
.check-cont .active-div{
    padding: 12px;
    background-color: rgb(73, 218, 73);
    border-radius: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
}


.user-info-cont{
    margin-top: 25px;
    text-align: center;
}
.user-info-cont h2{
    font-size: 28px;
    font-weight: 800;
}
.logged-in-as{
    color: rgb(123, 123, 123);
    font-size: 15px;
    margin-top: 5px;
}
.user-info{
    margin-top: 15px;
    padding: 10px 15px;
    border-radius: 50px;
    border: 1px solid rgba(168, 173, 255);
    background-color: rgba(168, 173, 255, 0.3);
    color: rgb(67, 74, 212);
    font-weight: 700;
}


.logout-btn{
    margin-top: 20px;
    width: 100%;
    outline: none;
    padding: 15px;
    cursor: pointer;
    font-size: 17px;
    font-weight: 700;
    color: rgb(113, 113, 113);
    background-color: rgb(250, 250, 250);
    border: 3px solid rgb(231, 231, 231);
    border-radius: 15px;
    transition: 0.3s ease;
}
.logout-btn:hover{
    color: rgb(230, 48, 48);
    background-color: rgb(255, 231, 231);
    border: 3px solid rgb(240, 178, 178);
}
.logout-btn:active{
    transform: scale(0.9);
}