*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #f4f7f9; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex; 
    justify-content: center;
    align-items: center; 
    padding: 20px;
}
/* ============================================= */
.container{
    width: 100%;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}

.title{
    text-align: center;
    font-size: 30px;

}



.current-balance-cont{
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(231, 244, 255);
    margin-top: 20px;

}

.current-balance-cont h3{
    font-size: 22px;
    font-weight: 500;
    color: rgb(94, 135, 168);
}
.current-balance-cont p{
    font-size: 30px;
    font-weight: 700;
    margin-top: 5px;
}


.total-amounts-cont{
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(249, 249, 249);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1) inset;
    margin-top: 20px;

    display: grid;
    grid-template-columns: repeat(3fr 1fr 3fr);
    gap: 10px;

}
.divider{
    background-color: black;
    width: 3px;
    height: 100%;
    
}
.total-amounts-cont span{
    background-color: rgba(173, 216, 230, 0.651);
}
















