*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #f4f7f9; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex; 
    justify-content: center;
    align-items: center; 
    padding: 20px;
}

.hidden{
    display: none !important;
}
/* ============================================= */
.container{
    width: 100%;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}

.title{
    text-align: center;
    font-size: 30px;

}



.current-balance-cont{
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(231, 244, 255);
    margin-top: 20px;

}

.current-balance-cont h3{
    font-size: 22px;
    font-weight: 500;
    color: rgb(94, 135, 168);
}
.balance{
    font-size: 30px;
    font-weight: 700;
    margin-top: 5px;
    color: rgb(30, 52, 69);
}
.balance-grey{color: rgb(30, 52, 69);}
.balance-green{color: rgb(20, 181, 23);}
.balance-red{color: rgb(213, 24, 24);}


.total-amounts-cont{
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(250, 250, 250);
    box-shadow: 0 5px 5px rgba(134, 134, 134, 0.1) inset;
    margin-top: 20px;

    display: grid;
    grid-template-columns: 1fr 3px 1fr;
    gap: 10px;

}
.divider{
    background-color: rgb(215, 215, 215);
    width: 1px;
    height: 100%;
    
}
.total-amounts-cont span{
    /* background-color: rgba(173, 216, 230, 0.651); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;

}

.total-amounts-cont span .title{
    font-size: 18px;
    font-weight: 600;
}
.total-amounts-cont span .amount{
    font-size: 22px;
    font-weight: 700;
}
.total-income{
    color: rgb(20, 181, 23);
}
.total-expenses{
    color: rgb(213, 24, 24);
}




.transaction-cont{
    /* background-color: rgba(173, 216, 230, 0.505); */
    margin-top: 20px;
}
.transaction-cont h2{
    /* background-color: rgba(5, 43, 56, 0.505); */
    margin-bottom: 20px;
    padding: 10px 0;
    border-bottom: 1px solid rgb(216, 216, 216);
    font-size: 20px;
    font-weight: 700;
    color: rgb(33, 62, 95);
}

label{
    font-size: 16px;
    font-weight: 600;
    color: rgb(79, 92, 106);
}
.title-input{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    outline: none;
    border-radius: 8px;
    border: 1px solid rgb(167, 167, 167);
    font-size: 16px;
}
.title-input::placeholder{
    color: rgb(149, 149, 149);

}


.item-details-cont{
    display: flex;
    gap: 20px;
    margin-top: 10px;
}
.item-details-cont div{
    flex: 1;
}
.item-details-cont select, .item-details-cont input{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    outline: none;
    border-radius: 8px;
    border: 1px solid rgb(167, 167, 167);
    font-size: 16px;
}


.amounts-input-cont{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.amounts-input-cont div{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* background-color: #6eb0d8a5; */
}
.income-cont label{
    color: rgb(11, 131, 13);
}
.expense-cont label{
    color: rgb(213, 24, 24);
}
.amounts-input-cont input{
    width: 100%;
    padding: 10px;
    /* margin-top: 5px; */
    outline: none;
    border-radius: 8px;
    border: 1px solid rgb(167, 167, 167);
    font-size: 16px;
}
.amounts-input-cont button{
    width: 100%;
    padding: 12px;
    /* margin-top: 5px; */
    outline: none;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    color: white;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s ease;
}
.income-cont button{
    background-color: rgb(14, 156, 19);
}
.expense-cont button{
    background-color: rgb(213, 24, 24);
}
.amounts-input-cont button:active{
    transform: scale(0.95);

}



.error-msg{
    margin-top: 30px;
    text-align: center;
    font-size: 15px;
    font-style: italic;
    color: rgb(213, 24, 24);
}
/* ================================================ */
/* ================================================ */
/* ================================================ */

.history-title{
    font-size: 20px;
    font-weight: 600;
    color: rgb(79, 92, 106);
    border-bottom: 1px solid rgb(216, 216, 216);
    padding: 10px 0;
    margin: 10px 0;
}
.history-ul{
    /* background-color: lightblue; */
    padding: 20px 0;
}
.history-ul p{
    color: rgb(115, 129, 144);
    text-align: center;
    font-size: 17px;
    font-style: italic;
    font-weight: 500;
}



.history-ul li{
    list-style: none;
    background-color: white;
    box-shadow: 0 2px 5px rgb(227, 227, 227);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    border-right: 7px solid;
    display: flex;
    gap: 10px;
}

.history-ul li div{
    flex: 1;
}

.item-info{
    display: flex;
    flex-direction: column;
}
.item-info-span1{
    font-weight: 600;
    font-size: 17px;
    color: rgb(45, 82, 124);
}
.item-info-span2{
    font-size: 13px;
    color: rgb(101, 101, 101)
    /* font-weight: 600; */
}


.amount-btns-cont{
    display: flex;
    justify-content: flex-end;

}

.amount-number{
    font-weight: 700;
    font-size: 20px;
    margin-right: 15px;
}



.btn{
    outline: none;
    border: none;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s ease;
}
.btn:active{
    transform: scale(0.8);
}
.btn svg{
    height: 55%;
    width: 55%;
}
.edit-btn{
    background-color: rgb(218, 234, 255);
}
.edit-btn:hover{
    background-color: rgb(193, 219, 253);
}
.edit-btn svg{
    color: rgb(40, 111, 225);
}
.delete-btn{
    background-color: rgb(255, 218, 218);
}
.delete-btn:hover{
    background-color: rgb(253, 192, 192);
}
.delete-btn svg{
    color: rgb(225, 40, 40);
}


/* ============================================== */
/* MODAL */
/* ============================================== */

.modal-overlay{
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
    justify-content: center;
    align-items: center;
}
.modal-content{
    min-width: 30%;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

}
.modal-content .heading{
    font-size: 25px;
    align-items: start;
    width: 100%;
}
.modal-content .descp{
    font-size: 17px;
    align-items: center;
    color: rgb(89, 89, 89);
    width: 100%;
    margin: 10px 0;
}
.modal-btns-cont{
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 5px;
}
.modal-btns-cont button{
    outline: none;
    border: none;
    /* background-color: grey; */
    padding: 10px 20px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease;
}
.modal-btns-cont button:active{
    transform: scale(0.9);
}
.modal-cancel-btn{
    background-color: rgb(223, 223, 223);
    color: rgb(0, 0, 0);
}
.modal-delete-btn{
    background-color: rgb(221, 56, 56);
    color: white;
}








