* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    background-color: #f7f4ff;
    padding: 50px;
}


.container {
    /* background-color: lightblue; */
    max-width: 90%;
    margin: 0 auto;
}

.assignment-heading {
    font-size: 30px;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 20px 0;
    margin-bottom: 50px;
    padding-bottom: 20px;
    border-bottom: 1px solid #a2bbd5;
    border-radius: 10px;
}

.section-divider {
    font-size: 20px;
    font-weight: 800;

}

.assignment-cont {
    /* background-color: rgb(209, 219, 229); */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 10px 0;
}

@media screen and (min-width: 1500px) {
    .assignment-cont {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 1000px) {
    .assignment-cont {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 660px) {
    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .assignment-cont {
        grid-template-columns: repeat(1, 1fr);
    }
}


.card-wrapper {
    /* background-color: rgb(216, 216, 216); */
    padding: 20px;
    border-radius: 20px;

    animation-name: fadeInUp;
    animation-duration: 1s;
    animation-fill-mode: both;
    opacity: 0;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }

}


.card {
    background-color: rgb(221, 199, 226);
    min-height: 150px;
    padding: 20px;
    border-left: 4px solid;
    border-bottom: 4px solid;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}


.card-header {
    /* background-color: rgb(202, 160, 211); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;
}

.card-header h3 {
    margin: 20px 0;
    font-size: 22px;
    font-weight: 600;
    color: #1f2937;
}

.status {
    background-color: rgb(139, 27, 164);
    color: white;
    padding: 5px 12px;
    border-radius: 30px;
    font-size: 13px;
    text-align: center;
    font-weight: 400;
}

.assignment-link {
    color: #524cd0;
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
    margin-top: 10px;
    display: inline-block;
}

.assignment-link:hover {
    text-decoration: underline;
}

.due-date {
    color: #4b5563;
    font-size: 13px;
    margin-top: 10px;
}

.incomplete {
    background-color: #e54646;
}

.incomplete-card {
    background-color: #ffd8d8;
    border-color: #e54646;
}

.complete {
    background-color: #10b981;
}

.complete-card {
    background-color: #d5f1e2;
    border-color: #10b981;
}



.tag-box {
    display: flex;
    gap: 5px;
}

.tag {
    font-size: 10px;
    padding: 4px 8px;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 5px 15px -5px rgba(101, 101, 101, 0.5);
    transition: 0.3s ease;
    cursor: pointer;
}
.tag:hover{
    transform: translateY(-5px);
}
.tag-html {
    color: #0e939c;
    background: #c7fdfb;
}
.tag-css {
    color: #3256db;
    background: #d2deff;
}
.tag-js {
    color: #856404;
    background: #fff3cd;
}
.tag-api {
    color: #004085;
    background: #bfd8f4;
}
.tag-fb {
    color: #e66a13;
    background: #ffe1cb;
}
.tag-rct {
    color: #6413e6;
    background: #e1cbff;
}