*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 40px;
    background: #1f2937;
}
/* ------------------------------------------ */

.game-container{
    /* position: relative; */
    background-color: black;
    border-radius: 15px;
    border: 3px solid rgba(102, 126, 234, 0.4);
    box-shadow: 0 10px 80px rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 450px;
    overflow: hidden;
}

.road{
    background: #27272a; 
    height: 100%;
    width: 100%;
    position: relative;
}

.lane{
    position: absolute;
    width: 3px;
    height: 100%;
    background: repeating-linear-gradient(
        160deg,
        transparent,
        transparent 30px,
        #ffd700 30px,
        #ffd700 60px
    );
    animation: moveLines 0.8s linear infinite;
}

.lane:nth-child(1) { left: 30.33%; }
.lane:nth-child(2) { left: 70.66%; }

@keyframes moveLines {
    from { background-position: 0 0; }
    to { background-position: 0 120px; }
}


.stop-line{
    position: absolute;
    top: 550px;
    left: 0;
    width: 100%;
    height: 5px;
    background: #fcd34d;
    z-index: 5;
    opacity: 0.5;
}



.car{
    position: absolute;
    width: 60px;
    height: 100px;
    background: linear-gradient(135deg, #3498db, #2980b9);
    border-radius: 12px 12px 6px 6px;
    box-shadow: 0 8px 25px rgba(52, 152, 219, 0.7);
    border: 2px solid rgba(255, 255, 255, 0.3);
    transition: left 0.2s ease-out;
    z-index: 999;
    
}






















